body {
    background: #000;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    padding: 0;
    margin: 0;
}